.wrapper {
    display: flex;
}
.hamburgerCreate {
    padding: 10px;
    width: 430px;   
                     
}
fieldset {
    margin-bottom: 30px;
    padding-top: 10px;
    width: 400px;
}
fieldset input {
    margin-bottom: 10px;
}
.btn {
    width: 160px;
    margin-right: 15px;


}
.total {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;  
}